# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/

# Local env files
.env
.env.local
.env.*.local
!.env.example
!.env.local.example

# Caches
.npm-cache/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.idea/
.vscode/

# Misc
coverage/
dist/
.turbo/
.vercel/
